body{
    background: url("../../public/backgrounds/main_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main{
    width:90%;
    min-width:530px;
    height: fit-content;

    background-color: rgba(0, 0, 0, 0.65);

    padding:50px 40px;
    margin: 100px auto 0 auto;

    position:relative;
    display:flex;
    overflow: hidden;
}
.center{
    display:flex;
    align-self: center;
    margin: 0 auto;
}
.streamersContainer{
    width:95%;
    height:fit-content;

    display:flex;
    flex-wrap:wrap;
    margin: 20px auto 0 auto;
}
.main a{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}